$red: #ff4d4d
$bg: #f6eded

.home-container
  background: $bg
  min-height: 100vh
  display: flex
  flex-direction: column
  padding: 0
  margin: 0

/* HEADER */
.home-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 2rem

.header-left
  display: flex
  align-items: center
  gap: 1rem

.hamburger-btn
  font-size: 1.6rem
  background: none
  border: none
  cursor: pointer

.logo
  height: 65px

.navbar
  display: flex
  gap: 2rem

  a
    text-decoration: none
    color: #000
    font-size: .95rem

/* LEFT BUTTON */
.sidebar-btn
  margin-left: 1.5rem
  margin-top: .5rem
  background: $red
  color: white
  padding: .6rem 1rem
  width: 130px
  text-align: center
  border-radius: 8px
  font-weight: bold

/* MAIN CONTENT */
.home-main
  text-align: center
  padding: 3rem 0

.main-title
  font-size: 2.7rem
  font-weight: 700
  line-height: 1.2
  margin-bottom: 1rem

.main-subtitle
  color: #444
  margin-bottom: 2rem

.action-section
  margin-top: 1rem

.question
  font-size: 1rem
  margin-bottom: 1rem

.actions
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem

.create-btn, .join-btn
  background: $red
  color: white
  border: none
  padding: .6rem 1.2rem
  border-radius: 7px
  font-weight: bold
  cursor: pointer

.room-input
  padding: .6rem
  border: 1px solid #bbb
  border-radius: 6px
  width: 220px

/* FOOTER */
.home-footer
  margin-top: 3rem
  padding: 2rem 3rem

  
.footer-divider
  width: 100%
  height: 1px
  background: #ccc
  margin-bottom: 1.5rem
  margin-top: 1.5rem


.home-footer h3
  margin-bottom: 1rem

.footer-columns
  display: flex
  justify-content: space-between
  margin-top: 1rem

.footer-columns div p
  margin: .4rem 0
