$red: #ff4d4d
$red-dark: #cc3b3b

.menu-container
  position: absolute
  top: 70px
  right: 20px
  width: 180px
  background: $red
  border-radius: 12px
  padding: 15px
  display: none
  flex-direction: column
  gap: 10px
  box-shadow: 0 4px 12px rgba(0,0,0,0.25)
  z-index: 99999

  p
    margin: 0
    cursor: pointer
    padding: 10px
    border-radius: 8px
    color: white
    font-size: 1rem

    &:hover
      background: $red-dark

.menu-container.open
  display: flex

.btn-menu
  position: relative
  z-index: 100000
  background: transparent
  border: none
  color: white
  font-size: 2rem
  cursor: pointer

.logout-confirm
  display: flex
  flex-direction: column
  gap: 1.5rem
  padding: 1rem
  text-align: center

.logout-title
  font-weight: bold
  font-size: 1.1rem
  color: white

.logout-buttons
  display: flex
  justify-content: center
  align-items: center
  gap: 2rem
  margin-top: 1rem


.btn-accept, .btn-cancel
  flex: 1
  padding: 0.6rem 0
  border: none
  border-radius: 8px
  cursor: pointer
  font-size: .95rem
  font-weight: 600
  transition: 0.2s ease

.btn-accept
  background: white
  color: #cc3b3b
  &:hover
    background: #ffe5e5

.btn-cancel
  background: #ffffff22
  color: white
  border: 1px solid #ffffff55
  &:hover
    background: #ffffff44

